<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <title>Blog Website</title>

</head>

<body>
  <%- include("partials/header.ejs") %>
    <section class="heroes">
      <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">

          <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis">"Your Ultimate Stop for Anime Recommendations"</h1>
            <p class="lead">Dive into a world of anime tailored just for you! From thrilling battles and emotional
              dramas to slice-of-life gems and supernatural mysteries — we help you find the perfect series based on
              your favorite genres, themes, and story vibes. Whether you're a seasoned otaku or a curious newcomer, your
              next anime obsession starts here.</p>
          </div>

          <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg mb-4">
            <img class="rounded-lg-3" src="images/1643184281967.jpg" alt="" width="420">
          </div>
        </div>
      </div>
    </section>

    <div class="container my-5">
      <div class="row row-cols-1 row-cols-md-3 g-4">

        <!-- Blog Card 1 -->
        <div class="col">
          <div class="card h-100 shadow-sm">
            <img src="images/best_anime_movies.jpg" class="card-img-top" alt="Short Anime" class="img-fluid">
            <div class=" card-body">
              <h5 class="card-title">
                <a href=" /best_anime_movies" class="text-decoration-none text-dark">
                  Best Anime Movies to watch
                </a>
              </h5>
              <p class="card-text text-muted">
                Not everyone has the luxury to binge an entire 12-episode series...
              </p>
            </div>
            <div class="card-footer d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center">
                <img src="  " alt="author" class="rounded-circle me-2" width="40" height="40">
                <small class="text-muted">AnimeParadise.com</small>
              </div>
              <small class="text-muted">Updated: July 29, 2025</small>
            </div>
          </div>
        </div>


        <!-- Blog Card 2  -->
        <div class="col">
          <div class="card h-100 shadow-sm">
            <img src=" images/best_psychological_anime.jpg " class="card-img-top" alt="Anime Example">
            <div class="card-body">
              <h5 class="card-title">
                <a href="" class="text-decoration-none text-dark">
                  Top 10 Psychological Anime
                </a>
              </h5>
              <p class="card-text text-muted">
                A guide to some of the most legendary shounen and seinen action anime...
              </p>
            </div>
            <div class="card-footer d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center">
                <img src="  " alt="author" class="rounded-circle me-2" width="40" height="40">
                <small class="text-muted">AnimeParadise.com</small>
              </div>
              <small class="text-muted">Updated: Aug 1, 2025</small>
            </div>
          </div>
        </div>

        <!-- Blog Card 3  -->
        <div class="col">
          <div class="card h-100 shadow-sm">
            <img src="images/best_anime_movies.jpg" class="card-img-top" alt="Short Anime" class="img-fluid">
            <div class=" card-body">
              <h5 class="card-title">
                <a href=" /best_anime_movies" class="text-decoration-none text-dark">
                  Best Anime Movies to watch
                </a>
              </h5>
              <p class="card-text text-muted">
                Not everyone has the luxury to binge an entire 12-episode series...
              </p>
            </div>
            <div class="card-footer d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center">
                <img src="  " alt="author" class="rounded-circle me-2" width="40" height="40">
                <small class="text-muted">AnimeParadise.com</small>
              </div>
              <small class="text-muted">Updated: July 29, 2025</small>
            </div>
          </div>
        </div>

        <!-- Blog Card 4  -->
        <div class="col">
          <div class="card h-100 shadow-sm">
            <img src=" images/best_psychological_anime.jpg " class="card-img-top" alt="Anime Example">
            <div class="card-body">
              <h5 class="card-title">
                <a href="" class="text-decoration-none text-dark">
                  Top 10 Psychological Anime
                </a>
              </h5>
              <p class="card-text text-muted">
                A guide to some of the most legendary shounen and seinen action anime...
              </p>
            </div>
            <div class="card-footer d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center">
                <img src="  " alt="author" class="rounded-circle me-2" width="40" height="40">
                <small class="text-muted">AnimeParadise.com</small>
              </div>
              <small class="text-muted">Updated: Aug 1, 2025</small>
            </div>
          </div>
        </div>

      </div>
    </div>




    <%- include("partials/footer.ejs") %>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>

</body>

</html>